@import "tailwindcss";
@import "primeicons/primeicons.css";

@layer base {
  body {
    @apply bg-black;
    font-family: "Roboto", sans-serif;
  }

  input, textarea ,button {
    @apply bg-white text-black;
  }

}
